{% extends 'base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block content %}

<div class="container">
    <div class="border rounded p-4 m-4">
        <h4>My Cart</h4>
        <hr>
        <table class="table">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Sr no.</th>
                  <th scope="col">Image</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Price</th>
                  
                </tr>
              </thead>

              <tbody>
                {% for cart in cart %}
                <tr>
                  <th scope="row">{{forloop.counter}}</th>
                  <td><img style="height: 80px;" class="rounded-circle" src="{{cart.product.image.url}}" alt=""></td>
                  <td>{{cart.product.name}}</td>
                  <td>{{cart.quantity}}</td>
                  <td>{{cart.product.price}}</td>
                  
                  
                </tr>
             </tbody>
             {% endfor %}
        </table>
        <hr>
        <div class="m-3 p3">
            <a href="" class="btn btn-outline-warning btn-block" data-toggle="modal" data-target="#exampleModal">Checkout</a>
        </div>
    </div>
</div>

<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Checkout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Name:</label>
              <input type="text" class="form-control" id="recipient-name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Phone:</label>
              <input type="text" class="form-control" id="message-text" placeholder="Enter your cantact no.">
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Address:</label>
              <input type="text" class="form-control" id="message-text" placeholder="Enter your address">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-primary">Make Payment</button>
        </div>
      </div>
    </div>
  </div>




{% endblock %}